@use "../../styles/general/colors" as *;
@use "../../styles/general/variables" as *;

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;

  &:hover {
    transform: translateY(-1px);
    opacity: 0.95;
  }

  &:active {
    transform: translateY(0);
  }
}

.btn--default {
  background-color: $btnBackground;
  color: $white;

}

.btn--ghost {
  background-color: $white;
  color: $black;
  border: 1px solid $btnBorder;
}

.btn--weekNav {
  padding: 6px;
  background: $white;
  color: $black;

  border: 1.33px solid $grayTransparent;
}

.btn--gradient{
  color: $white;
  background: linear-gradient(
                  135deg,
                  $cardPink 0%,
                  $cardPurple 100%
  );
}

.btn--black {
  background-color: $black;
  color: $white;
  font-size: medium;
}