@use "../../styles/general/colors" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal {
  width: 32em;
  background: $white;
  border-radius: 14px;
  padding: 2rem;
  box-sizing: border-box;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  color: $darkBlue01;
  margin: 0 0 0.5em 0;
}

.subtitle {
  font-size: 0.9em;
  color: $darkBlue02;
  margin-bottom: 1.5em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem 0;
}

.item {
  padding: 0.5em 0;
  font-size: 1em;
  color: $cardBlue;
}

.actions {
  display: flex;
  justify-content: flex-end;
}