@use './general/variables' as *;
@use './general/colors' as *;
@use './general/general' as *;


/* Global reset */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $font, sans-serif;
  background: linear-gradient(
                  $BGLinear0 0%,
                  $BGLinear50 50%,
                  $BGLinear100 100%
  );
}