@use "./general/colors" as *;
@use "./general/variables" as *;
@use "./general/general" as *;

/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
                  135deg,
                  $BGLinear0,
                  $BGLinear50,
                  $BGLinear100
  );
}