@use "../../styles/general/colors" as *;

.dayCell {
  background: $white;
  border-radius: 0.75em;
  padding: 1em;
  min-height: 8em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
}

.dayLabel {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.dayContent {
  height: 4em;
}