@use "../../styles/general/colors" as *;

.header {
  padding: 1rem 0;        // 72px
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 0.1875em;        // 3px
}

.icon {
  width: 2.5em;         // 40px
  height: 2.5em;
}

.title {
  font-size: 1.875em;   // 30px
  font-weight: 700;
  line-height: 2.25em;  // 36px
  margin: 0;
}

.subtitle {
  font-size: 0.875em;
  color: $darkBlue02;
  margin: 0;
  margin-top: 0.1875em; // 3px
}
