$darkBlue02: #4A5565; //texts
$darkBlue01: #101828;
$black: #0A0A0A;
$black1: #364153;
$white: #ffffff;

$BGLinear0: #FDF2F8; //background linear gradient
$BGLinear50: #F0E5FA;
$BGLinear100: #DBEBFF;

$Pink01: #E60076; //adding
$Pink02: #C6005C;
$Pink02Fill: #FCE7F3;
$Purple: #8200DB;
$cardPurple: #AD46FF;
$cardPurpleLine: #E9D4FF;
$PurpleFill: #F3E8FF;
$cardPink: #F6339A;
$cardPinkLine: #FCCEE8;
$cardBlue: #155DFC;
$cardBlueLine: #BEDBFF;
$cardGreen: #00A63E;
$cardGreenLine: #B9F8CF;

$grayTransparent: #00000010;  // containers
$gray: #6A7282;
$cardGrey: #E5E7EB;
$emptyState: #99A1AF;
$areaGray: #F3F3F5;

$btnBackground: #1f2a44; //buttons
$btnBorder: #cfd5e3;


