$darkBlue02: #4A5565; //texts
$darkBlue01: #101828;
$black: #0A0A0A;

$BGLinear0: #FDF2F8; //background linear gradient
$BGLinear50: #FAF5FF;
$BGLinear100: #EFF6FF;

$Pink01: #E60076; //adding
$Pink02: #C6005C;
$Pink02Fill: #FCE7F3;
$Purple: #8200DB;
$PurpleFill: #F3E8FF;

$grayTransparent: #00000010;  // containers
$gray: #6A7282;